<h2 class="text-center">Lista de Pokemones</h2>
<div class="pokemon-container">
  <div class="pokemon" *ngFor="let pokemon of pokemone">
    <div class="pokemon-info">
      <p>{{ pokemon.nombre }}</p>
      <p>Evoluciona : {{ pokemon.evoluciona }}</p>
      <p>Nivel evolucion : {{ pokemon.nivel_evolucion }}</p>
      <img [src]="getImagenUrl(pokemon.imagenBase64)" alt="Imagen de Pokemon" />
    </div>
    <div class="pokemon-actions">
      <button (click)="updatePokemon(pokemon.id_pokemon)" class="btn btn-info">
        Editar
      </button>
      <button
        (click)="deletePokemon(pokemon.id_pokemon)"
        class="btn btn-danger"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
